.frame-window {
  margin: auto;
  width: 100%;
  padding-top: 3em;

  .window-bar {
    background-color: #999292;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 1.8em;
    display: flex;
    .dots {
      list-style: none;
      display: flex;
      margin: auto 0;

      .dot {
        $dot-size: 1em;
        margin: auto 0.45em;
        height: $dot-size;
        width: $dot-size;
        border-radius: 50%;

        &#red {
          background-color: #ff0000;
        }
        &#yellow {
          background-color: #faff00;
        }
        &#green {
          background-color: #22e642;
        }
      }
    }
  }
  img {
    width: 100%;
    height: auto;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
}

@media screen and (max-width: 1024px) {
  .frame-window {
    padding-top: 2em;

    .window-bar {
      height: 1.3em;
      .dots {
        .dot {
          $dot-size: 0.7em;
          margin: auto 0.3em;
          height: $dot-size;
          width: $dot-size;
        }
      }
    }
  }
}
@media screen and (max-width: 768px) {
  .frame-window {
    padding-top: 1.4em;

    .window-bar {
      height: 1.1em;
      .dots {
        .dot {
          $dot-size: 0.5em;
          margin: auto 0.2em;
          height: $dot-size;
          width: $dot-size;
        }
      }
    }
  }
}
