.skills {
  background-color: rgba(0, 134, 232, 0.73);
  text-align: center;
  padding: 2em 10%;

  .skill {
    .name {
      font-size: 2.6em;
      text-transform: uppercase;
      font-weight: 600;
      line-height: 1.1em;
      letter-spacing: 0.04em;

      img {
        width: 1.5em;
        margin: 0 0.5em;
        transform: translateY(25%);
      }
    }
    .images {
      img {
        max-width: 100%;
        width: 28em;
        height: auto;
        margin: 0 3em;
      }
    }

    .content {
      text-transform: uppercase;
      font-size: 1.8em;
      font-weight: 300;
    }
    .skill-seperator {
      margin: 5em auto;
      height: 2px;
      border-radius: 20px;
      background-color: white;
    }
  }

  .last {
    font-weight: normal;
    font-size: 2em;
    letter-spacing: 0.04em;
    text-transform: uppercase;
  }
}

@media screen and (max-width: 1024px) {
  .skills {

    .skill {
      .name {
        font-size: 2.2em;
        letter-spacing: 0.02em;
      }
      .images {
        img {
          width: 26em;
          margin: 1em auto;
        }
      }
      .content {
        font-size: 1.6em;
      }
      .skill-seperator {
        margin: 4em auto;
      }
    }

    .last {
      font-size: 1.8em;
    }
  }
}

@media screen and (max-width: 768px) {
  .skills {

    .skill {
      .name {
        font-size: 2em;
      }
      .images {
        img {
          width: 24em;
          margin: 0.6em auto;
        }
      }
      .content {
        font-size: 1.5em;
      }
      .skill-seperator {
        margin: 3em auto;
      }
    }

    .last {
      font-size: 1.6em;
    }
  }
}

@media screen and (max-width: 420px) {
  .skills {

    .skill {
      .name {
        font-size: 1.6em;
      }
      .images {
        img {
          width: 20em;
          margin: 0.5em auto;
        }
      }
      .content {
        font-size: 1.1em;
      }
      .skill-seperator {
        margin: 2em auto;
      }
    }

    .last {
      font-size: 1.2em;
    }
  }
}
