.navbar {
  max-width: 100%;
  background-color: black;
  color: white;
  display: flex;
  padding: 0 10%;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 2000;
  min-height: 3em;

  .navbar-logo {
    margin: auto 0;
    font-weight: 400;
    font-size: 1.4em;
    text-transform: uppercase;
  }

  .navbar-nav {
    list-style: none;
    display: flex;
    flex-direction: row;

    .nav-item {
      font-weight: 300;
      text-transform: capitalize;
      margin: auto 0.4em;
      font-size: 1.3em;
      border-radius: 2em;
      padding: 0.1em 0.6em;

      &:hover {
        background-color: aliceblue;
        color: black;
        cursor: pointer;
        transform: scale(1.1);
      }
      &:active {
        transform: scale(0.9);
        background-color: aliceblue;
        color: black;
        cursor: pointer;
      }
    }
  }
  .menu-icon {
    display: none;
    width: 30px;
    height: 30px;
    margin: auto 0;
    flex-direction: column;

    hr {
      width: 100%;
      background-color: white;
    }

    &.open {
      #mid {
        opacity: 0;
        animation: hide-mid-line 0.5s ease-in;
      }
      #top {
        transform: translateY(500%) rotate(45deg);
        animation: rotate-top-line 0.5s ease-in;
      }
      #bottom {
        transform: translateY(-500%) rotate(-45deg);
        animation: rotate-bottom-line 0.5s ease-in;
      }

      @keyframes hide-mid-line {
        from {
          opacity: 1;
        }
        to {
          opacity: 0;
        }
      }
      @keyframes rotate-top-line {
        from {
          transform: translateY(0) rotate(0);
        }
        to {
          transform: translateY(500%) rotate(45deg);
        }
      }
      @keyframes rotate-bottom-line {
        from {
          transform: translateY(0) rotate(0);
        }
        to {
          transform: translateY(-500%) rotate(-45deg);
        }
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .navbar {
    .navbar-nav {
      margin: 0;
      display: flex;
      position: absolute;
      background-color: black;
      right: 0;
      flex-direction: column;
      justify-content: space-around;
      padding: 10% 0;
      z-index: -1;
      transform: translateY(-100%);

      &.open {
        transform: translateY(0);
        animation: navbar-drop 0.5s ease-in-out;

        @keyframes navbar-drop {
          from {
            opacity: 0;
            visibility: hidden;
            transform: translateY(-100%);
          }
          to {
            opacity: 1;
            visibility: visible;
            transform: translateY(0);
          }
        }
      }

      .nav-item {
        margin: 1em 2em;
      }
    }
    .menu-icon {
      display: block;
    }
  }
}
