.navbar {
  max-width: 100%;
  background-color: black;
  color: white;
  display: flex;
  padding: 0.3em 10%;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 2000;

  .navbar-logo {
    margin: auto 0;
    font-weight: 400;
    font-size: 1.6em;
    text-transform: uppercase;
  }

  .navbar-nav {
    list-style: none;
    display: flex;
    flex-direction: row;

    .nav-item {
      font-weight: 300;
      text-transform: capitalize;
      margin: auto 0.4em;
      font-size: 1.5em;
      border-radius: 2em;
      padding: 0.2em 0.8em;

      &:hover {
        background-color: aliceblue;
        color: black;
        cursor: pointer;
      }
    }
  }
}
